<div>
    <div class="logo">
      <img
        src="Icons/Pardoo.png"
        alt="logo" />
    </div>

    <div class="user-info">
      <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" alt="user" />
      <p>User</p>
    </div>
    <ul>
      <li class="nav-item">
        <a href="./Pages/user.html">
          <i class="fa fa-user nav-icon"></i>
          <span class="nav-text">Cuenta</span>
        </a>
      </li>

      <li class="nav-item active">
        <a href="index.html">
          <i class="fa-solid fa-table nav-icon"></i>
          <span class="nav-text">Tablero</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="Pages/processed.html">
          <i class="fa fa-arrow-trend-up nav-icon"></i>
          <span class="nav-text">Tramite</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#">
          <i class="fa-solid fa-chart-simple nav-icon"></i>
          <span class="nav-text">Estado</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#">
          <i class="fa fa-circle-info nav-icon"></i>
          <span class="nav-text">Ayuda</span>
        </a>
      </li>
    </ul>
  </div>

  <ul>
    <li class="nav-item">
      <a href="#">
        <i class="fa fa-right-from-bracket nav-icon"></i>
        <span class="nav-text">Salir</span>
      </a>
    </li>
  </ul>